# Ignore everything by default
*

# Allow folders we want to inspect
!Source/
!Source/**

!Config/
!Config/**

# Allow project + docs
!*.uproject
!README.md
!.gitignore

# Still ignore generated Unreal/build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.sln
*.VC.db
*.opensdf
*.suo